doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/main.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css", integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==", crossorigin="anonymous", referrerpolicy="no-referrer")
        title Document
    body 
      

        header.header
            
            .header_container 
                
                .header_container-img
                   img(src="../img/Frame.png", alt="").img1
                   img(src="../img/Frame (1).png", alt="").img2
                   img(src="../img/Vector 4.png", alt="").img3
                   img(src="../img/arrow-small-right.png", alt="").img4
                   img(src="../img/Rectangle 4.png", alt="").img5
                   img(src="../img/Mask group.png", alt="").img6
                   img(src="../img/Vector 2.png", alt="").img7
                   img(src="../img/Vector 1.png", alt="").img8
                   img(src="../img/Vector 3.png", alt="").img9

                nav.header_container-nav 
                    ol 
                        li 
                            a(href="#") ABOUT
                        li 
                            a(href="#") SERVICES
                        li 
                            a(href="#") TECHNOLOGIES
                        li 
                            a(href="#") HOW TO

                
                .header_container_button 
                   button.btn1 CONTACT US
                   button.btn2 JOIN HYDRA
                   button.btn3 BUILD YOUR WORLD
                
                 
                .header_container_text-b 
                  b.b1 Dive 
                  b Into The Depths
                  br
                  b Of 
                  b.b1 Virtual Reality
                
                .header_container_text-p 
                   p Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                   br
                   p sed do eiusmod tempor incididunt ut labore et dolore 
                   br
                   p nisl tincidunt eget. Lectus mauris eros in vitae .

                .header_container_box
                  img(src="../img/Location-Icon.png", alt="").img
                  h2.h2 Pay Us a Visit 
                  p.p Union St, Seattle, WA 98101, United States
                  img(src="../img/Vector 5.png", alt="").line


                  img(src="../img/phone-call.png", alt="").img-2
                  h2.h2-2 Give Us a Call
                  p.p-2 (110) 1111-1010
                  img(src="../img/Vector 5.png", alt="").line-2



                  img(src="../img/mail.png", alt="").img-3
                  h2.h2-3 Send Us a Message
                  p.p-3 (110) Contact@HydraVTech.com
                  


                button.zafar 
                  img(src="../img/Hamburger-Button.png", alt="")





        script(src="../app.js") 