.hero .container{
    
    .img{
        .img1{
            top: 1051px;
            left: 84px;
            position: absolute;
        }
        .img2{
            top: 1918px;
            left: 84px;
            position: absolute;
        }
        .img3{
            top: 2748px;
            left: 84px;
            position: absolute;
        }
        .img4{
            top: 3447px;
            left: 84px;
            position: absolute;
        }
        .img5{
            top: 4068px;
            left: 84px;
            position: absolute;
        }
        .img6{
            top: 5198.5px;
            left: 84px;
            position: absolute;
        }
    }
}